/*------TYPOGRAPHY-------*/

* {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

b {
    font-weight: 600;
}

eyebrow {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

button a {
    color: #ffffff;
}

button:hover {
    opacity: 0.7;
    transition: 1s;
}

intro-h1 {
    font-size: 20px;
    font-weight: 600;
}


/*--------GLOBAL STYLING-------*/

body {
    margin: -1px auto;
    font-size: 14px;
    color: #606060;
    background-color: #E4E4E4;
    margin-top: 90px;
    margin-left: 310px;
    width: 80%;
    top: 50%;
    left: 50%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#page {
    animation: fade-in 1s;
    display: none;
}


/*loader for all pages*/

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #412C84;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/*---------NAVIGATION----------*/

.top-nav {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 4px 1px 6px 4px rgba(0, 0, 0, 0.15);
}

.top-nav-icons-group {
    display: table;
    float: right;
}

#top-nav-icon {
    display: table-cell;
    padding: 10px 20px;
    border-left: solid 0.5px #aaaaaa;
    height: 100%;
}

.side-nav {
    width: 262px;
    height: 101%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #412C84;
}

#supergraphic-logo-sidenav {
    position: absolute;
    width: 175px;
    top: 20px;
    mix-blend-mode: multiply;
}

#white-logo {
    position: absolute;
    width: 159px;
    top: 43px;
    left: 52px;
}

#profile-pic {
    width: 85px;
    height: 85px;
    position: absolute;
    top: 157px;
    left: 89px;
    border-radius: 25px;
    background-color: #a7a7a7;
}

#user-initials {
    position: relative;
    top: 10%;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 44px;
    font-weight: 500;
    letter-spacing: 3px;
}

#user-title {
    position: relative;
    top: 265px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}

#new-event-button button {
    width: 200px;
    height: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    background-color: #42CCB6;
    border-radius: 17px;
    border: none;
    position: absolute;
    top: 380px;
    left: 28px;
    box-shadow: 4px 1px 6px 4px rgba(0, 0, 0, 0.1);
}

#new-event-button button a {
    color: white;
}

#new-event-button button:hover {
    opacity: 0.8;
    transition: 1s;
}

#explore-categories {
    width: 75px;
    position: relative;
    top: 423px;
    left: 62px;
    color: white;
    font-size: 14px;
    line-height: 26px;
}

#explore-categories a {
    opacity: 0.7;
    color: white;
}

#explore-categories a:hover {
    opacity: 1;
    color: white;
    transition: 1s;
}


/*--------LANDING INDEX----------*/

.top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 78px;
    background-color: #ffffff;
}

#landing-logo {
    width: 113px;
    position: relative;
    top: 20px;
    left: 52px;
}

#landing-nav-links {
    display: table;
    float: right;
    top: 10px;
}

#landing-nav-links a {
    color: #5E5E5E;
    opacity: 0.7;
}

#landing-nav-links a:hover {
    opacity: 1;
    transition: 1s;
}

#about,
#sign-in {
    display: table-cell;
    padding: 31px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.18px;
    font-weight: 700;
}

.purple-tier {
    position: absolute;
    left: 0;
    top: 78px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, #171260, #491C89);
}

#supergraphic-logo {
    position: absolute;
    width: 367px;
    top: 200px;
    mix-blend-mode: multiply;
}

#tagline {
    width: 532px;
    font-size: 86px;
    font-weight: 100;
    line-height: 84px;
    position: relative;
    top: 213px;
    left: 145px;
    color: #ffffff;
}

#introduction {
    color: #ffffff;
    float: right;
    width: 400px;
    position: relative;
    right: 10%;
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
}

#get-started-button button {
    width: 200px;
    height: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    background-color: #42CCB6;
    border-radius: 17px;
    border: none;
    position: absolute;
    left: 145px;
    top: 550px;
    box-shadow: 4px 1px 6px 4px rgba(0, 0, 0, 0.1);
}

.footer {
    position: absolute;
    bottom: -200px;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #2e2e2e;
    font-size: 11px;
    line-height: 24px;
}

#footer-links {
    position: absolute;
    margin: 35px 150px;
    color: #797979;
}

#footer-links a {
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.5px;
    opacity: 0.7;
}

#footer-links a:hover {
    opacity: 1;
    transition: 1s;
}

#footer-logo {
    position: absolute;
    width: 70px;
    left: 120px;
    top: 35px;
    opacity: 0.3;
}


/*---------SIGN IN--------*/

.sign-in {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, #171260, #491C89);
}

#sign-in-logo {
    width: 113px;
    position: relative;
    top: 50px;
}

#supergraphic-logo-signin {
    width: 367px;
    position: absolute;
    left: 0;
    top: 200px;
    mix-blend-mode: multiply;
}

.sign-in-form {
    position: relative;
    top: 200px;
    text-align: center;
    margin: 0px auto;
}

input {
    display: block;
}

#signup-input {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;
    color: #171717;
    border-radius: 8px;
    border: 0.5px white solid;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 30px;
    width: 300px;
    margin: 10px auto;
    padding-left: 10px;
}

#sign-up-button {
    width: 200px;
    height: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    background-color: #42CCB6;
    border-radius: 17px;
    border: none;
    box-shadow: 4px 1px 6px 4px rgba(0, 0, 0, 0.1);
}

#sign-in-or {
    padding: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

#linkedin-login {
    width: 190px;
    border-radius: 7px;
    border: none;
    box-shadow: 4px 1px 6px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


/*---------NEWSFEED-----------*/

.feed {
    width: 800px;
    height: 100%;
}

#featured-post {
    width: 795px;
    height: 265px;
    background-color: #ffffff;
    border: #0C5C93 solid 4px;
    margin-bottom: 30px;
}

#user-thumbnail {
    width: 46px;
    height: 46px;
    left: 12px;
    top: 16px;
    position: relative;
    border-radius: 10px;
    background-color: #888888;
}

#user-info {
    width: 200px;
    position: relative;
    top: -30px;
    left: 69px;
}

#user-info username {
    font-size: 14px;
    font-weight: 700;
    display: table;
}

#user-info jobTitle {
    font-size: 12px;
    display: table;
    padding-top: 3px;
    opacity: 0.6;
}

#user-info timePosted {
    font-size: 9px;
    display: table;
    padding-top: 5px;
    opacity: 0.6;
}

#featured-post-image {
    width: 265px;
    height: 170px;
    position: relative;
    left: 10px;
    top: -10px;
    float: left;
    background-color: grey;
}

#featured-event-title,
#basic-event-title {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}

#featured-event-title {
    width: 60%;
    position: relative;
    top: -10px;
    right: 5px;
    float: right;
}

#details-cta {
    width: 60%;
    position: relative;
    float: right;
    top: 20px;
    right: 5px;
    font-size: 12px;
    letter-spacing: 2.5px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #42CCB6;
}

#details-cta #arrow {
    width: 24px;
    height: 10px;
    padding-left: 20px;
}

#details-cta:hover {
    opacity: 0.5;
    transition: 1s;
}

#basic-event-title {
    padding: 0px 15px;
}

#featured-event-description,
#basic-event-description {
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
}

#featured-event-description {
    width: 55%;
    position: relative;
    top: 5px;
    right: 45px;
    float: right;
}

#basic-event-description {
    width: 90%;
    padding: 10px 5px 0px 15px;
}

#basic-post {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.right-hand-widgets {
    width: 283px;
    position: fixed;
    left: 1150px;
    top: 70px;
}

#open-requests {
    width: 100%;
    height: 257px;
    background-color: #ffffff;
    margin-bottom: 32px;
}

#open-requests-header {
    height: 25px;
    background-color: #0C5C93;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 12px 0px 0px 15px;
}

#open-request-title {
    width: 90%;
    position: relative;
    top: 30px;
    left: 15px;
}

#open-request-image {
    width: 114px;
    height: 72px;
    background-color: grey;
    position: relative;
    left: 15px;
    top: 45px;
    float: left;
}

#open-request-post {
    float: right;
    position: relative;
    top: 45px;
    left: -50px;
    font-size: 12px;
    line-height: 17px;
}

#open-request-post eventTitle {
    font-weight: 700;
}

#open-request-post eventDetailsCTA {
    color: #9C91BE;
    font-weight: 600;
}

#open-request-post eventDetailsCTA:hover {
    opacity: 0.5;
    transition: 1s;
}

#open-request-buttons {
    position: absolute;
    top: 210px;
    left: -4px;
}

#open-request-buttons #accept,
#open-request-buttons #deny {
    width: 110px;
    height: 25px;
    margin-left: 20px;
    color: #828282;
    background-color: #D8D8D8;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.39px;
    text-transform: uppercase;
}

#my-upcoming-events {
    width: 100%;
    height: 352px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

#upcoming-events-header {
    height: 25px;
    background-color: #412C84;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 12px 0px 0px 15px;
}

#upcoming-events-month {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    position: relative;
    top: 20px;
    color: #412C84;
}

#upcoming-events-post {
    position: relative;
    top: 50px;
    height: 92px;
    margin-bottom: 30px;
}

#upcoming-events-date-box {
    width: 95px;
    height: 89px;
    text-align: center;
    background-color: #F2F2F2;
    float: left;
    position: relative;
    left: 30px;
}

#upcoming-events-date {
    padding-top: 10px;
    margin: 0 auto;
}

#upcoming-events-date dayOfWeek {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

#upcoming-events-date numberMonth {
    font-size: 44px;
    letter-spacing: 3.5px;
    font-weight: 500;
    color: #412C84;
}

#upcoming-events-details {
    float: right;
    position: relative;
    top: 10px;
    left: -50px;
    font-size: 12px;
    line-height: 17px;
}

#upcoming-events-details eventTitle {
    font-weight: 700;
}

#upcoming-events-details eventDetailsCTA {
    color: #9C91BE;
    font-weight: 600;
}

#upcoming-events-details eventDetailsCTA:hover {
    opacity: 0.5;
    transition: 1s;
}


/*----------CREATE NEW EVENT---------*/

event-eyebrow {
    color: #42CCB6;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.43px;
    font-weight: bold;
}

.event-form {
    width: 1022px;
    background-color: #ffffff;
    margin: 0 auto;
}

#event-form-title {
    color: #606060;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.41px;
    font-weight: 600;
    position: relative;
    top: 70px;
    left: 70px;
    width: 300px;
}

.event-form-content {
    width: 616px;
    margin: 110px auto;
    padding-bottom: 20px;
}


/*dividing lines*/

.dividing-line {
    width: 105%;
    height: 20px;
    border-bottom: 0.5px solid #b9b9b9;
    clear: both;
}


/*enter an event title*/

#event-title {
    font-size: 34px;
    font-weight: 600;
    border: none;
    border-bottom: solid 3px rgba(0, 0, 0, 0.5);
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 360px;
    float: left;
}

#event-title::-webkit-input-placeholder {
    opacity: 0.5;
}


/*public or private?*/

.public-or-private {
    float: right;
    position: relative;
    top: 10px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 14px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border: solid 1px #838383;
    border-radius: 50%;
}

.container input:checked ~ .radio-button {
    background-color: #eee;
}

.radio-button:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .radio-button:after {
    display: block;
}

.container .radio-button:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #42CCB6;
}


/*date/time/location*/

.date-time-location {
    clear: both;
    text-align: center;
    padding: 40px;
}

.date-time-location select {
    -webkit-border-radius: 0px;
}

#date-dropdown,
#time-dropdown,
#location-dropdown {
    text-align: center;
    color: #42CCB6;
    background: #ffffff;
    font-weight: 600;
    font-size: 12px;
    height: 30px;
    width: 154px;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #42CCB6;
    margin-left: 20px;
}


/*event type*/

.event-type {
    padding-top: 40px;
    float: left;
}


/*event description*/

.event-description {
    padding-top: 40px;
    float: right;
}

textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    width: 300px;
    height: 100px;
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #7c7c7c;
    resize: none;
}

textarea::-webkit-input-placeholder {
    opacity: 0.5;
    font-size: 14px;
}


/*topic areas*/

.related-topics {
    clear: right;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
}

#related-topics {
    width: 350px;
    padding-left: 10px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #42CCB6;
    -webkit-appearance: 0px;
}


/*max number of people*/

.max-people {
    float: right;
    padding-top: 40px;
    padding-bottom: 40px;
}

#max-people-dropdown {
    color: #606060;
    background: #ffffff;
    font-weight: 600;
    font-size: 12px;
    height: 30px;
    width: 100px;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #606060;
}


/*curating?*/

.whos-curating {
    clear: both;
    padding-top: 40px;
}


/*submit button*/

.submit-button {
    clear: both;
    text-align: center;
    padding: 50px;
}

.submit-button button {
    width: 319px;
    height: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    background-color: #42CCB6;
}

#submit-button button a {
    color: white;
}

#submit-button button:hover {
    opacity: 0.8;
    transition: 1s;
}


/*----------EVENT DETAILS PAGE--------*/

.breadcrumbs {
    width: 1000px;
    padding: 0px 0px 20px 0px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
}

.breadcrumbs a {
    color: #0C5C93;
    font-weight: 800;
}

#event-status {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

#event-details-attending {
    text-align: center;
    padding: 10px;
    width: 375px;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0C5C93;
    border: #0C5C93 solid 2px;
}

#header-overlay {
    background-color: #0C5C93;
    opacity: 0.76;
    width: 364px;
    padding: 40px;
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    line-height: 41px;
    position: absolute;
    top: 300px;
}

.event-details-left {
    width: 450px;
    height: 700px;
    position: relative;
    top: 40px;
    float: left;
    border-right: 1px solid #606060;
    margin-bottom: 100px;
}

.event-details-left #upcoming-events-post {
    width: 386px;
}

.event-details-left #upcoming-events-post #upcoming-events-date-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background-color: #0C5C93;
}

.event-details-left #upcoming-events-post #upcoming-events-date-box #upcoming-events-date {
    color: #ffffff;
}

.event-details-left #upcoming-events-post #upcoming-events-date-box #upcoming-events-date dayOfWeek {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #ffffff;
    position: absolute;
    top: 10px;
    left: 45px;
}

.event-details-left #upcoming-events-post #upcoming-events-date-box #upcoming-events-date numberMonth {
    font-size: 72px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #ffffff;
}

.event-details-left #upcoming-events-post #upcoming-events-date-box #upcoming-events-date year {
    font-size: 20px;
    letter-spacing: 1.92px;
    font-weight: 500;
    color: #ffffff;
}

.event-details-left #upcoming-events-details {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #0C5C93;
}

.event-details-left #upcoming-events-details eventTime {
    font-weight: 800;
}

#event-details-description {
    clear: both;
    position: relative;
    top: 120px;
    width: 400px;
    line-height: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #606060;
}

#number-attending {
    position: relative;
    top: 150px;
    width: 180px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#thumbnails-attending {
    display: table;
    position: relative;
    top: 160px;
}

#member-thumbnail {
    display: table-cell;
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 16px;
    margin-right: 20px;
}

.event-details-right {
    float: left;
    position: relative;
    top: 40px;
    left: 40px;
}

.event-details-right #user-post {
    margin-bottom: 50px;
    background-color: #ffffff;
    height: 70px;
    padding-bottom: 16px;
}

.event-details-right #user-post #user-thumbnail {
    width: 46px;
    height: 46px;
    left: 12px;
    top: 16px;
    position: relative;
    border-radius: 10px;
    background-color: #888888;
}

.event-details-right #user-post #event-details-update {
    font-size: 14px;
    border: none;
    height: auto;
    width: 328px;
    position: relative;
    top: -20px;
    left: 70px;
    resize: none;
}

.event-details-right #user-post button {
    width: 79px;
    height: 28px;
    margin-left: 20px;
    color: #ffffff;
    background-color: #0C5C93;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    top: -40px;
    left: 40px;
}

.event-details-right #user-post button:hover {
    opacity: 0.95;
    transition: 0s;
}

.event-details-right #basic-post {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.event-details-right #basic-event-description {
    position: relative;
    top: -20px;
}


/*-------USER PROFILE PAGE------*/


/*top half*/

.top-profile-contents {
    width: 1084px;
    height: 331px;
    background-color: #FBFBFB;
}


/*top left*/

#top-left-profile {
    float: left;
    width: 30%;
    padding: 20px 0px 0px 20px;
}

#profile-page-pic {
    float: left;
    width: 108px;
    height: 108px;
    border-radius: 26px;
    background-color: #8b8b8b;
    position: relative;
    top: 25px;
    left: 25px;
}

#profile-social-icons {
    float: left;
    clear: both;
    position: relative;
    left: 25px;
    top: 40px;
    display: table;
}

#profile-social-icons a:hover {
    opacity: 0.5;
    transition: 1s;
}

#profile-twitter,
#profile-linkedin {
    display: table-cell;
    padding: 3px;
}

.profile-info-right {
    float: right;
    clear: both;
    position: relative;
    top: -120px;
    left: 220px;
}

#profile-name {
    font-size: 30px;
    font-weight: 700;
    color: #412C84;
}

#profile-job-location {
    font-size: 14px;
    line-height: 18px;
}

#profile-industry-years {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-weight: 500;
}

#profile-bio {
    font-size: 12px;
    line-height: 22px;
    width: 360px;
}


/*top right*/

#top-right-profile {
    float: right;
    clear: right;
    width: 40%;
    height: 100%;
    border-left: 0.5px solid #c1c1c1;
}

#top-section {
    padding-bottom: 20px;
    border-bottom: 0.5px solid #c1c1c1;
}

#top-section,
#bottom-section {
    display: block;
    width: 350px;
    height: 120px;
    margin: 0 auto;
    padding-top: 40px;
}

#thought-leader-score {
    float: left;
    width: 115px;
    height: 100px;
    border-right: 0.5px solid #c1c1c1;
    padding-right: 20px;
}

thought-number {
    font-weight: 800;
    font-size: 52px;
    letter-spacing: 0.86px;
    color: #369DD6;
}

#profile-eyebrow {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.6px;
    font-weight: 700;
    color: #BCBCBC;
    text-transform: uppercase;
}

#recent-charities {
    float: right;
    position: relative;
    top: 10px;
    left: -40px;
    line-height: 18px;
}

#bottom-section {
    margin-top: -20px;
}

#profile-stats {
    float: left;
    width: 100px;
    line-height: 18px;
}

#profile-specialties {
    float: right;
    position: relative;
    width: 220px;
}

#specialty {
    padding: 5px 10px;
    margin-right: 5px;
    line-height: 35px;
    border-radius: 9.5px;
    background-color: #E7E7E7;
}


/*bottom half */

.bottom-profile-contents {
    width: 1084px;
    height: 500px;
    position: relative;
    top: -20px;
    margin-bottom: 100px;
    clear: both;
}


/*bottom left*/

#bottom-left-profile {
    background-color: #FBFBFB;
    width: 640px;
    height: 492px;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 20px;
}

#bottom-left-profile #profile-eyebrow {
    position: relative;
    top: 10px;
    left: 20px;
}

#profile-event-month {
    margin: 0 auto;
    text-align: center;
    font-size: 33px;
    font-weight: 800;
    color: #412C84;
}

#bottom-left-events-grid {
    width: 550px;
    height: 400px;
    margin-top: 20px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: auto auto;
}

#bottom-left-profile #upcoming-events-post {
    width: 300px;
    padding-left: 0px;
    margin-left: 0px;
    display: block;
}


/*bottom right*/

#bottom-right-profile {
    background-color: #FBFBFB;
    width: 320px;
    height: 492px;
    float: right;
    position: relative;
    top: 0px;
    right: 0px;
    padding: 20px 20px 20px 40px;
}

#bottom-right-profile #profile-eyebrow {
    position: relative;
    top: 10px;
    left: 12px;
}

#see-all-activity {
    float: right;
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 12px;
    color: #42CCB6;
}

.recent-activity-feed {
    width: 290px;
    height: 380px;
    margin: 50px auto;
    overflow-y: scroll;
}

#recent-activity-item {
    width: 250px;
    height: 44px;
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 0.5px solid #c1c1c1;
}

timestamp {
    font-weight: 100;
    color: #393939;
}


/*-------MEMBERS DIRECTORY PAGE-------*/

.members-heading {
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 2.74px;
    color: #FFA544;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    top: 30px;
}

.members-tabs {
    display: table;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    left: 600px;
    top: -40px;
    text-transform: uppercase;
    text-align: center;
}


/*active state*/

.members-tabs #my-network {
    display: table-cell;
    vertical-align: middle;
    color: white;
    background-color: #FFA544;
    width: 215px;
    height: 45px;
}


/*inactive state*/

.members-tabs #explore {
    display: table-cell;
    vertical-align: middle;
    width: 215px;
    height: 45px;
}

.members-dividing-line {
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 0.5px solid #979797;
}

.members-page-grid {
    position: absolute;
    left: 360px;
    top: 270px;
    width: 990px;
    height: 850px;
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 261px;
    grid-column-gap: 24px;
    grid-row-gap: 28px;
}

#member-card {
    background-color: #FBFBFB;
    width: 221px;
    height: 261px;
    text-align: center;
    margin-top: 0px;
}

#member-card-avi {
    width: 117px;
    height: 117px;
    position: relative;
    top: 25px;
    left: 55px;
    border-radius: 26px;
    background-color: #606060;
}

#member-name {
    font-size: 21px;
    font-weight: 700;
    position: relative;
    top: 20px;
    width: 100%;
}


/*--------ERROR 404 PAGE--------*/

.error-404 {
    font-size: 45px;
    font-weight: 700;
    color: #412C84;
}

#sorry {
    font-size: 16px;
    font-weight: 700;
}

#back-to-page {
    color: #363636;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.52;
}